.about-container {
  margin: 10em auto;
  color: white;
  width: 80%;
  line-height: 1.5rem;
}

.section1 {
  padding: 2em;
  background-color: rgba(40, 40, 49, 0.412);
}

.content h1 {
  font-weight: 200;
  font-size: 3rem;
  margin: 1em;
  letter-spacing: 3px;
}

.content p {
  text-align: left;
  margin: 1em 0;
  font-size: 1.2rem;
  letter-spacing: 0.5px;
}

.graphs-demo img {
  max-width: 600px;
  width: 100%;
  /* margin-top: 1em; */
}

.graphs-demo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  margin: 2em 0;
}

.flex {
  display: flex;
  gap: 2em;
  /* padding: 2em; */
  justify-content: center;
  flex-wrap: wrap;
  /* width: 100%; */
}

.flex img {
  max-width: 200px;
}

.small img {
  width: 100px;
}

.who-part {
  width: 30%;
  line-height: 25px;
  font-family: cursive;
  background-color: rgba(40, 40, 49, 0.412);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1em 2em;
}

.who-part img {
  border-radius: 50%;
  border: 5px solid white;
  overflow: hidden;
  height: 150px;
  width: 150px;
}

.techstack {
  gap: 3em;
  line-height: 30px;
  margin: 2em;
}

.techstack ul {
  list-style: none;
}

.how-part {
  background-color: rgba(40, 40, 49, 0.412);
  padding: 2em;
}

@media only screen and (max-width: 850px) {
  .how-part {
    width: 100%;
  }

  .who-part {
    width: 100%;
  }

  .who-part > .comment {
    width: 80%;
    margin: 2em auto;
  }

  .about-container {
    width: 100%;
  }
}
