.contact-container {
  display: flex;
  width: fit-content;
  margin: 6em auto;
  width: 80%;
  justify-content: center;
}

.contact-container > .cover {
  width: 50%;
  background-image: url("../images/keyboard.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.contact-container > .cover > h2 {
  font-size: 2vw;
  color: white;
  font-family: sans-serif;
}

.contact-form {
  width: fit-content;
  background-color: rgba(40, 40, 49, 0.412);
  padding: 2em;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

form .userInput {
  padding: 10px 0;
  font-weight: 600;
  font-family: sans-serif;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.697);
  color: white;
  font-size: 1rem;
  resize: none;
}

form .userInput::placeholder {
  color: rgba(255, 255, 255, 0.697);
}

form button {
  padding: 10px;
  margin: 0.5em;
  color: white;
  border-radius: 5px;
  border: none;
  font-size: 1.2rem;
  font-weight: 550;
  transition: transform 200ms ease;
}

form button:hover {
  transform: scale(1.01);
}

.loadingBtn {
  padding: 0 10px;
}
.loadingBtn img {
  width: 35px;
}

.formBtns {
  text-align: left;
}

.red {
  background-color: rgb(209, 4, 4);
}

.blue {
  background-color: #2382ff;
}

.errorMessage {
  color: white;
  font-weight: 600;
  background-color: rgba(255, 0, 0, 0.359);
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}

.errorMessage img {
  margin: 0;
  padding: 0;
}

.errorDiv {
  position: absolute;
  top: 0;
  width: 450px;
}

.confirmation {
  margin-top: 7em;
  font-size: 2rem;
}

.mobileHeading {
  display: none;
}

@media only screen and (max-width: 850px) {

  .contact-container {
    width: 95%;
  }

  form .userInput {
    width: 101%;
  }

  .formBtns > button {
    width: 100%;
  }
  
  .mobileHeading {
    display: block;
  }
}

@media only screen and (max-width: 1300px) {
  .contact-container > .cover {
    display: none;
  }

  form textarea {
    height: 150px;
  }
}