.nav-container {
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

header {
  position: fixed;
  width: 100%;
  background-color: #3f4757;
  top: 0;
}

.main-logo {
  font-size: 2rem;
  font-weight: bold;
}

.nav-container > nav {
  display: flex;
  gap: 3em;
}

.nav-container > nav > a {
  transition: transform 200ms ease;
}

.nav-container > nav > a:hover {
  color: white;
  transform: translateY(3px);
}

.hamMenu {
  display: none;
  transition: transform 400ms ease;
}
.hamMenu:hover {
  cursor: pointer;
  transform: scale(1.1);
  filter: drop-shadow(0 0 5px black);
}

.profile-pic > img {
  box-shadow: 0 0 5px black;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.nav-dp > img {
  transition: transform 200ms ease;
}
.nav-dp > img:hover {
  transform: scale(1.1);
}

a {
  text-decoration: none;
}

.login-container {
  position: absolute;
  top: 5em;
  right: 4em;
  border-radius: 15px;
  padding: 1em;
  box-shadow: 0 0 5px black;
  background-color: #3f4757;
}

.login-container > .username {
  border-bottom: 2px solid grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding: 10px;
  font-weight: bold;
  color: white;
}

.login-container > .actions {
  padding: 10px;
}

.login-container > .actions > .log {
  margin: 0.5em 0;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
  color: white;
  transition: background-color 200ms ease;
}

.login-container > .actions > .log:hover {
  cursor: pointer;
}

.blue:hover {
  background-color: #3f6ace;
}

.red:hover {
  background-color: #c51010;
}

.signinBtn {
  background: transparent;
  color: #a59f9f;
  border: none;
  outline: none;
  font-size: 1.2rem;
}

.signinBtn:hover {
  color: white;
}

@media only screen and (max-width: 850px) {
  .nav-container {
    width: 90%;
  }

  .hamMenu {
    display: block;
    width: 30px;
    margin: 2em;
  }

  .navbar {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background-color: #464e5f;
    height: 100vh;
    width: 100%;
    font-size: 1.4rem;
    transform: translateX(120vw);
    transition: transform 400ms ease-in-out;
  }

  .navClicked {
    transform: translateX(0);
  }
}