.output-container {
    height: 80vh;
    justify-content: space-around;
    margin: 1em;
}

.flex-div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.main-data {
    display: flex;
    justify-content: center;
    gap: 5em;
    align-items: center;
}

.speed-div {
    border: 7px solid #949BAB;
    border-radius: 50%;
    font-size: 2.5rem;
    padding: 1em;
    height: 200px;
    width: 200px;
    color: white;
}

.speed-div .speed {
    font-size: 6rem;
    font-weight: bold;
}

.additional-info-container {
    display: flex;
    background-color: #949BAB;
    width: 250px;
    justify-content: space-between;
    font-size: 1.3rem;
    margin: .5em;
    padding: .2em;
    font-weight: 300;
}

.additional-info-container>.type {
    color: #3F4757;
    padding: 10px 0;
    width: 60%;
}

.additional-info-container>.data {
    background-color: #3F4757;
    color: #fff;
    width: 40%;
    padding: 10px 0;
}


.retryBtn {
    background: transparent;
    border: none;
    outline: none;
    font-size: 2rem;
    color: #949BAB;
    padding: 10px;
}

.retryBtn>img {
    height: 30px;
    width: 30px;
    display: inline-block;
    margin: 0 10px;
}

.retryBtn:hover {
    color: white;
}


.chart {
    width: 500px;
    margin: 2em;
}