.timeline-container {
  margin: 6em auto;
  margin-top: 8em;
  width: 90%;
}

.timeline-container > .profile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 3em;
  padding: 1em;
  margin: 5em 0;
}

.timeline-container > .profile > img {
  border-radius: 50%;
  width: 10vw;
  min-width: 100px;
}

.timeline-container > .profile > .user-details {
  text-align: left;
  color: white;
  font-weight: lighter;
  font-size: 1.2rem;
}

.data_section > .toggle {
  text-align: left;
}

.data_section > .toggle > button {
  background: none;
  color: white;
  border: none;
  font-size: 1.2rem;
  font-weight: 600;
  box-shadow: 0 0 5px black;
  padding: 10px;
  transition: box-shadow 200ms ease;
  display: flex;
  gap: 10px;
}

.data_section > .toggle > button:hover {
  cursor: pointer;
  box-shadow: 0 0 2px black;
}

.history-data {
  color: white;
  margin-top: 2em;
}

.history-data > .date-selectors {
  display: flex;
  gap: 2em;
  margin: 3em 0;
  align-items: center;
  font-weight: bold;
}

select {
  width: 100%;
  background: none;
  color: white;
  padding: 10px;
  border: none;
  box-shadow: 0 0 5px black;
  outline: none;
}

select:hover {
  cursor: pointer;
}

select option {
  background-color: #3f4757;
  color: white;
  padding: 10px;
}

select option:hover,
select option:active {
  background-color: #303541;
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.option {
  padding: 10px;
}

.data-section {
  max-height: 500px;
  max-width: 700px;
  overflow-y: auto;
  box-shadow: 0 0 10px black;
  margin: 0 auto;
}

.data-section > table {
  width: 100%;
}

.data-section > table > thead {
  font-weight: bold;
}

td {
  padding: 10px;
}

tbody > tr:hover {
  background: #00000017;
}

.dateNotSelected {
  padding: 1em;
  margin-top: 4em;
}

.dateNotSelected > img {
  margin: 3em;
  max-width: 50vw;
}

.dateNotSelected > h2 {
  font-weight: lighter;
}

@media only screen and (max-width: 850px) {
  .timeline-container > .profile {
    display: block;
  }

  .timeline-container > .profile > .user-details {
    text-align: center;
    margin-top: 2em;
    font-size: 1rem;
    line-height: 30px;
  }

  .history-data > .date-selectors{
    flex-direction: column;
  }

  .date-selectors > select {
    font-size: 1rem;
  }

  .chart {
    margin: 0;
  }

  .data_section > .toggle > button {
    margin: 1em auto;
  }
  
}