.timeline-container {
  max-width: 1200px;
  margin: 6em auto;
  margin-top: 8em;
}

.timeline-container > .profile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 3em;
  padding: 1em;
  margin: 5em 0;
}

.timeline-container > .profile > img {
  border-radius: 50%;
  width: 200px;
}

.timeline-container > .profile > .user-details {
  text-align: left;
  color: white;
  font-weight: lighter;
  font-size: 1.2rem;
}

.data_section > .toggle {
  text-align: left;
}

.data_section > .toggle > button {
  background: none;
  color: white;
  border: none;
  font-size: 1.2rem;
  font-weight: 600;
  box-shadow: 0 0 5px black;
  padding: 10px;
  transition: box-shadow 200ms ease;
  display: flex;
  gap: 10px;
}

.data_section > .toggle > button:hover {
  cursor: pointer;
  box-shadow: 0 0 2px black;
}

.history-data {
  color: white;
  padding: 1em;
}

.history-data > .date-selectors {
  display: flex;
  gap: 2em;
  margin: 3em 0;
  align-items: center;
  font-weight: bold;
}

select {
  width: 100%;
  background: none;
  color: white;
  padding: 10px;
  border: none;
  box-shadow: 0 0 5px black;
  outline: none;
}

select:hover {
  cursor: pointer;
}

select option {
  background-color: #3f4757;
  color: white;
  padding: 10px;
}

select option:hover,
select option:active {
  background-color: #303541;
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

.option {
  padding: 10px;
}

.data-section {
  max-height: 500px;
  overflow-y: auto;
  box-shadow: 0 0 10px black;
}

.data-section > table {
  width: 80%;
  margin: 0 auto;
}

.data-section > table > thead {
  font-weight: bold;
}

td {
  padding: 10px;
}

tbody > tr:hover {
  background: #00000017;
}

.dateNotSelected {
  padding: 1em;
  margin-top: 4em;
}

.dateNotSelected > img {
  margin: 3em;
  max-width: 500px;
  width: auto;
}

.dateNotSelected > h2 {
  font-weight: lighter;
}
