.timeline-container {
  max-width: 1200px;
  margin: 6em auto;
  margin-top: 8em;
}

.timeline-container > .profile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 3em;
  padding: 1em;
  margin: 5em 0;
}

.timeline-container > .profile > img {
  border-radius: 50%;
  width: 200px;
}

.timeline-container > .profile > .user-details {
  text-align: left;
  color: white;
  font-weight: lighter;
  font-size: 1.2rem;
}

.data_section > .toggle{
    text-align: left;
}

.data_section > .toggle > button {
    background: none;
    color: white;
    border: none;
    font-size: 1.2rem;
    font-weight: 600;
    box-shadow: 0 0 5px black;
    padding: 10px;
}

.history-data {
    color: white;
}

.history-data > .date-selectors > {

}